n8n/workflow_export_yandex_tracker.json
{
  "name": "Triage Bot - Customer Support AI + Yandex Tracker",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ]
      },
      "id": "node-telegram-trigger",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "credentials": {
        "telegramApi": {
          "id": "TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "text",
              "name": "text",
              "value": "={{ $json.message.text }}",
              "type": "string"
            },
            {
              "id": "sender",
              "name": "sender",
              "value": "={{ $json.message.from.username || $json.message.from.first_name }}",
              "type": "string"
            },
            {
              "id": "sender_id",
              "name": "sender_id",
              "value": "={{ $json.message.from.id }}",
              "type": "number"
            },
            {
              "id": "chat_id",
              "name": "chat_id",
              "value": "={{ $json.message.chat.id }}",
              "type": "number"
            },
            {
              "id": "timestamp",
              "name": "timestamp",
              "value": "={{ new Date($json.message.date * 1000).toISOString() }}",
              "type": "string"
            },
            {
              "id": "received_at_ms",
              "name": "received_at_ms",
              "value": "={{ Date.now() }}",
              "type": "number"
            }
          ]
        }
      },
      "id": "node-normalize",
      "name": "Normalize Input",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        220,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "combinator": "and"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.text }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "isNotEmpty"
              }
            },
            {
              "leftValue": "={{ $json.text.length }}",
              "rightValue": 4000,
              "operator": {
                "type": "number",
                "operation": "lte"
              }
            }
          ]
        }
      },
      "id": "node-validate",
      "name": "Validate Input",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        440,
        0
      ]
    },
    {
      "parameters": {
        "messages": {
          "messageValues": [
            {
              "type": "SystemMessagePromptTemplate",
              "message": "Ты ассистент по triage обращений в поддержку. Твоя задача - анализировать входящие сообщения клиентов и возвращать структурированную классификацию.\n\nДля каждого сообщения ты обязан вернуть JSON-объект со следующими полями:\n\n1. summary - краткое резюме проблемы клиента на 1-2 предложения на том же языке, что и исходное сообщение.\n\n2. category - ровно одно из: \"billing\", \"technical_issue\", \"account_access\", \"feature_request\", \"complaint\", \"general_inquiry\"\n   - billing: способы оплаты, списания, счета, подписки, продление, отмена, возвраты, вопросы о том, как оплатить\n   - technical_issue: баги, ошибки, сломанная функциональность, проблемы с производительностью\n   - account_access: невозможность войти, проблемы со сбросом пароля, проблемы с 2FA, блокировка аккаунта, несанкционированный доступ\n   - feature_request: запросы на новые функции и улучшения\n   - complaint: жалобы на качество сервиса, негативный опыт, недовольство поддержкой\n   - general_inquiry: вопросы \"как сделать\", использование продукта, навигация, документация и другие информационные вопросы, которые не относятся к billing, не являются проблемой доступа и не описывают поломку продукта\n\nГраничные правила:\n- Вопросы о том, как оплатить, какие есть способы оплаты, о списаниях, счетах, возвратах, продлении подписки, отмене или настройке оплаты - это billing, даже если вопрос только информационный.\n- \"Как войти?\", \"Где страница входа?\", \"Как получить доступ к системе?\" без явного указания на сбой - это general_inquiry.\n- \"Не могу войти\", \"сброс пароля не работает\", \"код 2FA не приходит\", \"аккаунт заблокирован\", \"кто-то получил доступ к моему аккаунту\" - это account_access.\n- Сломанное существующее поведение - это technical_issue.\n- Отсутствующая возможность или идея улучшения - это feature_request.\n- Если в сообщении есть и эмоциональная жалоба, и конкретная операционная проблема, выбирай операционную категорию, а не complaint.\n- Используй general_inquiry только для информационных вопросов, которые не подходят ни под одну другую категорию.\n\n3. priority - одно из: \"critical\", \"high\", \"medium\", \"low\"\n   - critical: сервис полностью недоступен для всех пользователей, потеря данных, нарушение безопасности (утечка паролей, взлом аккаунта, обнаружен несанкционированный доступ). Используй critical всегда, когда пользователь пишет о взломе, утечке данных, раскрытии паролей, компрометации аккаунта, пустой/потерянной базе данных или security-инциденте.\n   - high: у пользователя сломана ключевая функциональность, есть проблема с оплатой или блокировка доступа\n   - medium: есть неудобство с обходным путём или не срочный billing-вопрос\n   - low: категории feature_request и general_inquiry всегда имеют low, даже если пользователь пишет срочно или блокирует. Сломанная существующая функция = technical_issue/high. Функции ещё не существует = feature_request/low.\n\n4. confidence - число от 0 до 1, показывающее, насколько ты уверен в классификации. Снижай confidence, когда:\n   - сообщение неоднозначное или подходит сразу под несколько категорий\n   - сообщение очень короткое и в нём мало контекста\n   - сообщение содержит несколько несвязанных проблем\n   - эмоциональный тон мешает определить основную суть\n   - для коротких однотемных сообщений с явными ключевыми словами вроде payment, invoice, refund, subscription, login error, password reset, 2FA, hacked account, bug, error или blank page используй высокий confidence\n\n5. route - команда маршрутизации в зависимости от категории:\n   - billing -> \"Billing Team\"\n   - technical_issue -> \"Engineering Support\"\n   - account_access -> \"Account Security\"\n   - feature_request -> \"Product Team\"\n   - complaint -> \"Customer Success\"\n   - general_inquiry -> \"General Support\"\n\nНиже примеры корректной классификации:\n\nПример 1:\nСообщение: Мне второй раз списали деньги за подписку в этом месяце. Верните деньги!\nОтвет: {\"summary\": \"Клиенту дважды списали оплату за подписку, требует возврат\", \"category\": \"billing\", \"priority\": \"high\", \"confidence\": 0.95, \"route\": \"Billing Team\"}\n\nПример 2:\nСообщение: The dashboard keeps showing a blank page after the latest update. I tried clearing cache and different browsers.\nОтвет: {\"summary\": \"Dashboard shows blank page after update, persists across browsers and cache clearing\", \"category\": \"technical_issue\", \"priority\": \"high\", \"confidence\": 0.92, \"route\": \"Engineering Support\"}\n\nПример 3:\nСообщение: Can you add dark mode?\nОтвет: {\"summary\": \"User requests dark mode feature\", \"category\": \"feature_request\", \"priority\": \"low\", \"confidence\": 0.95, \"route\": \"Product Team\"}\n\nПример 4:\nСообщение: I cannot log in and I also got charged twice\nОтвет: {\"summary\": \"User has both login issues and double billing charge\", \"category\": \"account_access\", \"priority\": \"high\", \"confidence\": 0.6, \"route\": \"Account Security\"}\n\nПример 5:\nСообщение: Все пароли утекли в интернет\nОтвет: {\"summary\": \"Пользователь сообщает об утечке всех паролей - критический security инцидент\", \"category\": \"account_access\", \"priority\": \"critical\", \"confidence\": 0.95, \"route\": \"Account Security\"}\n\nПример 6:\nСообщение: Can you add an export to Excel feature to the reports page?\nОтвет: {\"summary\": \"User requests Excel export functionality for reports\", \"category\": \"feature_request\", \"priority\": \"low\", \"confidence\": 0.97, \"route\": \"Product Team\"}\n\nПример 7:\nСообщение: We urgently need API access for automation - this is blocking our entire engineering team\nОтвет: {\"summary\": \"Team requests API access feature for automation workflows\", \"category\": \"feature_request\", \"priority\": \"low\", \"confidence\": 0.88, \"route\": \"Product Team\"}\n\nПример 8:\nСообщение: Your support takes 3 days to respond. This is unacceptable.\nОтвет: {\"summary\": \"User complains about slow support response time\", \"category\": \"complaint\", \"priority\": \"medium\", \"confidence\": 0.93, \"route\": \"Customer Success\"}\n\nПример 9:\nСообщение: Как оплатить сервис?\nОтвет: {\"summary\": \"Пользователь спрашивает, как оплатить сервис\", \"category\": \"billing\", \"priority\": \"medium\", \"confidence\": 0.96, \"route\": \"Billing Team\"}\n\nПример 10:\nСообщение: Как зайти в систему?\nОтвет: {\"summary\": \"Пользователь спрашивает, как войти в систему\", \"category\": \"general_inquiry\", \"priority\": \"low\", \"confidence\": 0.95, \"route\": \"General Support\"}\n\nПример 11:\nСообщение: Не могу зайти в систему, пароль не подходит\nОтвет: {\"summary\": \"Пользователь не может войти в систему, пароль не принимается\", \"category\": \"account_access\", \"priority\": \"high\", \"confidence\": 0.96, \"route\": \"Account Security\"}\n\nТеперь классифицируй следующее сообщение. Отвечай только валидным JSON. Без объяснений и без markdown-форматирования."
            }
          ]
        },
        "promptType": "define",
        "text": "={{ $json.text }}"
      },
      "id": "node-deepseek-chain",
      "name": "DeepSeek - Classify",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        660,
        -60
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "model": "deepseek-chat",
        "options": {
          "maxTokens": 300,
          "temperature": 0
        }
      },
      "id": "node-deepseek-model",
      "name": "DeepSeek Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatDeepSeek",
      "typeVersion": 1,
      "position": [
        660,
        80
      ],
      "credentials": {
        "deepSeekApi": {
          "id": "DEEPSEEK_CREDENTIAL_ID",
          "name": "DeepSeek API"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "parsed",
              "name": "parsed",
              "value": "={{ JSON.parse($json.text) }}",
              "type": "object"
            },
            {
              "id": "summary",
              "name": "summary",
              "value": "={{ JSON.parse($json.text).summary }}",
              "type": "string"
            },
            {
              "id": "category",
              "name": "category",
              "value": "={{ JSON.parse($json.text).category }}",
              "type": "string"
            },
            {
              "id": "priority",
              "name": "priority",
              "value": "={{ JSON.parse($json.text).priority }}",
              "type": "string"
            },
            {
              "id": "confidence",
              "name": "confidence",
              "value": "={{ JSON.parse($json.text).confidence }}",
              "type": "number"
            },
            {
              "id": "route",
              "name": "route",
              "value": "={{ JSON.parse($json.text).route }}",
              "type": "string"
            },
            {
              "id": "processing_time_ms",
              "name": "processing_time_ms",
              "value": "={{ Date.now() - $('Normalize Input').item.json.received_at_ms }}",
              "type": "number"
            }
          ]
        }
      },
      "id": "node-parse",
      "name": "Parse Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        880,
        -60
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "valid_category",
              "name": "category",
              "value": "={{ ['billing','technical_issue','account_access','feature_request','complaint','general_inquiry'].includes($json.category) ? $json.category : 'general_inquiry' }}",
              "type": "string"
            },
            {
              "id": "valid_priority",
              "name": "priority",
              "value": "={{ ['critical','high','medium','low'].includes($json.priority) ? $json.priority : 'medium' }}",
              "type": "string"
            },
            {
              "id": "valid_confidence",
              "name": "confidence",
              "value": "={{ (typeof $json.confidence === 'number' && $json.confidence >= 0 && $json.confidence <= 1) ? $json.confidence : 0.5 }}",
              "type": "number"
            }
          ]
        },
        "includeOtherFields": true
      },
      "id": "node-validate-output",
      "name": "Validate AI Output",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1100,
        -60
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "review_reason",
              "name": "review_reason",
              "value": "={{ $json.priority === 'critical' ? 'критический приоритет' : 'низкая уверенность классификации' }}",
              "type": "string"
            },
            {
              "id": "tracker_queue_auto",
              "name": "tracker_queue_auto",
              "value": "={{ ({ billing: 'TBILLING', technical_issue: 'TENGSUP', account_access: 'TACCSEC', feature_request: 'TPRODUCT', complaint: 'TCSM', general_inquiry: 'TGENSUP' })[$json.category] || 'TGENSUP' }}",
              "type": "string"
            },
            {
              "id": "tracker_queue_review",
              "name": "tracker_queue_review",
              "value": "={{ 'TSUPREV' }}",
              "type": "string"
            },
            {
              "id": "tracker_summary_auto",
              "name": "tracker_summary_auto",
              "value": "={{ $json.summary }}",
              "type": "string"
            },
            {
              "id": "tracker_summary_review",
              "name": "tracker_summary_review",
              "value": "={{ $json.summary }}",
              "type": "string"
            },
            {
              "id": "tracker_description_auto",
              "name": "tracker_description_auto",
              "value": "={{ `Канал: Telegram\nКлиент: ${$('Normalize Input').item.json.sender} (${ $('Normalize Input').item.json.sender_id })\nПолучено: ${$('Normalize Input').item.json.timestamp}\n\nСообщение клиента:\n${$('Normalize Input').item.json.text}\n\nКраткое описание:\n${$json.summary}\n\nКатегория обращения: ${$json.category}` }}",
              "type": "string"
            },
            {
              "id": "tracker_description_review",
              "name": "tracker_description_review",
              "value": "={{ `Канал: Telegram\nКлиент: ${$('Normalize Input').item.json.sender} (${ $('Normalize Input').item.json.sender_id })\nПолучено: ${$('Normalize Input').item.json.timestamp}\n\nСообщение клиента:\n${$('Normalize Input').item.json.text}\n\nКраткое описание:\n${$json.summary}\n\nПредварительная категория: ${$json.category}\nПредварительный приоритет: ${$json.priority}\nПричина ручной проверки: ${$json.review_reason}` }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true
      },
      "id": "node-prepare-tracker",
      "name": "Prepare Tracker Payload",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1320,
        -60
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "combinator": "or"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.priority }}",
              "rightValue": "critical",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "leftValue": "={{ $json.confidence }}",
              "rightValue": 0.8,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ]
        }
      },
      "id": "node-confidence-check",
      "name": "Needs Review?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1540,
        -60
      ],
      "notes": "Human review if confidence < 0.8 or priority = critical."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.tracker.yandex.net/v3/issues/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"summary\": {{ JSON.stringify($json.tracker_summary_auto) }}, \"queue\": {{ JSON.stringify($json.tracker_queue_auto) }}, \"description\": {{ JSON.stringify($json.tracker_description_auto) }}}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "node-tracker-auto",
      "name": "Yandex Tracker - Auto Route",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1770,
        -180
      ],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 2000,
      "credentials": {
        "httpCustomAuth": {
          "id": "HTTP_CUSTOM_AUTH_CREDENTIAL_ID",
          "name": "Yandex Tracker"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.tracker.yandex.net/v3/issues/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"summary\": {{ JSON.stringify($json.tracker_summary_review) }}, \"queue\": {{ JSON.stringify($json.tracker_queue_review) }}, \"description\": {{ JSON.stringify($json.tracker_description_review) }}}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "node-tracker-review",
      "name": "Yandex Tracker - Needs Review",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1770,
        40
      ],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 2000,
      "credentials": {
        "httpCustomAuth": {
          "id": "HTTP_CUSTOM_AUTH_CREDENTIAL_ID",
          "name": "Yandex Tracker"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "1X-6Cv2KBBxP0YqQJLmlf4wcUvuIL56qNT1uxWMcSttE",
          "cachedResultName": "Triage Bot Results",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1X-6Cv2KBBxP0YqQJLmlf4wcUvuIL56qNT1uxWMcSttE"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "694288495",
          "cachedResultName": "Triage Log - Staging",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1X-6Cv2KBBxP0YqQJLmlf4wcUvuIL56qNT1uxWMcSttE/edit#gid=694288495"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "timestamp": "={{ $('Normalize Input').item.json.timestamp }}",
            "sender": "={{ $('Normalize Input').item.json.sender }}",
            "original_message": "={{ $('Normalize Input').item.json.text }}",
            "summary": "={{ $('Prepare Tracker Payload').item.json.summary }}",
            "category": "={{ $('Prepare Tracker Payload').item.json.category }}",
            "priority": "={{ $('Prepare Tracker Payload').item.json.priority }}",
            "confidence": "={{ $('Prepare Tracker Payload').item.json.confidence }}",
            "route": "={{ $('Prepare Tracker Payload').item.json.route }}",
            "needs_review": "false",
            "reviewer_decision": "",
            "final_category": "={{ $('Prepare Tracker Payload').item.json.category }}",
            "processing_time_ms": "={{ $('Prepare Tracker Payload').item.json.processing_time_ms }}",
            "tracker_issue_key": "={{ $json.key }}",
            "tracker_queue": "={{ $('Prepare Tracker Payload').item.json.tracker_queue_auto }}",
            "tracker_issue_url": "={{ 'https://tracker.yandex.ru/' + $json.key }}"
          },
          "schema": [],
          "matchingColumns": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        }
      },
      "id": "node-sheets-auto",
      "name": "Google Sheets - Auto Route",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2000,
        -260
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "1X-6Cv2KBBxP0YqQJLmlf4wcUvuIL56qNT1uxWMcSttE",
          "cachedResultName": "Triage Bot Results",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1X-6Cv2KBBxP0YqQJLmlf4wcUvuIL56qNT1uxWMcSttE"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "694288495",
          "cachedResultName": "Triage Log - Staging",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1X-6Cv2KBBxP0YqQJLmlf4wcUvuIL56qNT1uxWMcSttE/edit#gid=694288495"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "timestamp": "={{ $('Normalize Input').item.json.timestamp }}",
            "sender": "={{ $('Normalize Input').item.json.sender }}",
            "original_message": "={{ $('Normalize Input').item.json.text }}",
            "summary": "={{ $('Prepare Tracker Payload').item.json.summary }}",
            "category": "={{ $('Prepare Tracker Payload').item.json.category }}",
            "priority": "={{ $('Prepare Tracker Payload').item.json.priority }}",
            "confidence": "={{ $('Prepare Tracker Payload').item.json.confidence }}",
            "route": "={{ $('Prepare Tracker Payload').item.json.route }}",
            "needs_review": "true",
            "reviewer_decision": "",
            "final_category": "",
            "processing_time_ms": "={{ $('Prepare Tracker Payload').item.json.processing_time_ms }}",
            "tracker_issue_key": "={{ $json.key }}",
            "tracker_queue": "={{ $('Prepare Tracker Payload').item.json.tracker_queue_review }}",
            "tracker_issue_url": "={{ 'https://tracker.yandex.ru/' + $json.key }}"
          },
          "schema": [],
          "matchingColumns": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        }
      },
      "id": "node-sheets-review",
      "name": "Google Sheets - Needs Review",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2000,
        -20
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Normalize Input').item.json.chat_id }}",
        "text": "={{ '✅ Обращение принято.\\n\\nПередали его в работу. Если понадобятся уточнения, мы свяжемся с вами.' }}",
        "additionalFields": {
          "parse_mode": "HTML",
          "appendAttribution": false
        }
      },
      "id": "node-telegram-confirm-auto",
      "name": "Telegram - Confirm (Auto)",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2000,
        -120
      ],
      "credentials": {
        "telegramApi": {
          "id": "TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Normalize Input').item.json.chat_id }}",
        "text": "={{ '✅ Обращение принято.\\n\\nПередали его специалисту. Если понадобятся уточнения, мы свяжемся с вами.' }}",
        "additionalFields": {
          "parse_mode": "HTML",
          "appendAttribution": false
        }
      },
      "id": "node-telegram-confirm-review",
      "name": "Telegram - Confirm (Review)",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2000,
        100
      ],
      "credentials": {
        "telegramApi": {
          "id": "TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "chatId": "-1003807392857",
        "text": "={{ 'Требуется ручная проверка обращения\\n\\nТикет: ' + $json.key + '\\nКлиент: ' + $('Normalize Input').item.json.sender + '\\n\\nСообщение клиента:\\n' + $('Normalize Input').item.json.text + '\\n\\nПредварительная категория: ' + $('Prepare Tracker Payload').item.json.category + '\\nПредварительный приоритет: ' + $('Prepare Tracker Payload').item.json.priority + '\\nКраткое описание: ' + $('Prepare Tracker Payload').item.json.summary + '\\nПричина проверки: ' + $('Prepare Tracker Payload').item.json.review_reason + '\\n\\nОткрыть тикет: https://tracker.yandex.ru/' + $json.key }}",
        "additionalFields": {
          "parse_mode": "HTML",
          "appendAttribution": false
        }
      },
      "id": "node-telegram-reviewer",
      "name": "Telegram - Notify Reviewer",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2000,
        220
      ],
      "credentials": {
        "telegramApi": {
          "id": "TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram Bot"
        }
      },
      "notes": "Подключать только после настройки отдельного внутреннего reviewer-чата."
    },
    {
      "parameters": {
        "chatId": "={{ $json.message.chat.id }}",
        "text": "Пожалуйста, отправьте обращение текстом, до 4000 символов.",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "node-telegram-error-input",
      "name": "Telegram - Invalid Input",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        660,
        140
      ],
      "credentials": {
        "telegramApi": {
          "id": "TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.tracker.yandex.net/v3/issues/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"summary\": \"Требуется ручная обработка обращения\", \"queue\": {{ JSON.stringify('TSUPREV') }}, \"description\": {{ JSON.stringify('Канал: Telegram\\nКлиент: ' + $('Normalize Input').item.json.sender + ' (' + $('Normalize Input').item.json.sender_id + ')\\nПолучено: ' + $('Normalize Input').item.json.timestamp + '\\n\\nСообщение клиента:\\n' + $('Normalize Input').item.json.text + '\\n\\nНе удалось автоматически классифицировать обращение.\\nПроверьте его вручную.') }}}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "node-tracker-error",
      "name": "Yandex Tracker - Error Fallback",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1100,
        140
      ],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 2000,
      "credentials": {
        "httpCustomAuth": {
          "id": "HTTP_CUSTOM_AUTH_CREDENTIAL_ID",
          "name": "Yandex Tracker"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "1X-6Cv2KBBxP0YqQJLmlf4wcUvuIL56qNT1uxWMcSttE",
          "cachedResultName": "Triage Bot Results",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1X-6Cv2KBBxP0YqQJLmlf4wcUvuIL56qNT1uxWMcSttE"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "694288495",
          "cachedResultName": "Triage Log - Staging",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1X-6Cv2KBBxP0YqQJLmlf4wcUvuIL56qNT1uxWMcSttE/edit#gid=694288495"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "timestamp": "={{ $('Normalize Input').item.json.timestamp }}",
            "sender": "={{ $('Normalize Input').item.json.sender }}",
            "original_message": "={{ $('Normalize Input').item.json.text }}",
            "summary": "Требуется ручная обработка обращения",
            "category": "general_inquiry",
            "priority": "medium",
            "confidence": "0",
            "route": "General Support",
            "needs_review": "true",
            "reviewer_decision": "",
            "final_category": "",
            "processing_time_ms": "={{ Date.now() - $('Normalize Input').item.json.received_at_ms }}",
            "tracker_issue_key": "={{ $json.key }}",
            "tracker_queue": "={{ 'TSUPREV' }}",
            "tracker_issue_url": "={{ 'https://tracker.yandex.ru/' + $json.key }}"
          },
          "schema": [],
          "matchingColumns": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        }
      },
      "id": "node-sheets-error",
      "name": "Google Sheets - Error Fallback",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1320,
        140
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Normalize Input').item.json.chat_id }}",
        "text": "={{ '✅ Обращение принято.\\n\\nПередали его специалисту. Если понадобятся уточнения, мы свяжемся с вами.' }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "node-telegram-error-confirm",
      "name": "Telegram - Confirm (Error)",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1320,
        240
      ],
      "credentials": {
        "telegramApi": {
          "id": "TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram Bot"
        }
      }
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Normalize Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Input": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "DeepSeek - Classify",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram - Invalid Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "DeepSeek - Classify",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek - Classify": {
      "main": [
        [
          {
            "node": "Parse Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Response": {
      "main": [
        [
          {
            "node": "Validate AI Output",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Yandex Tracker - Error Fallback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate AI Output": {
      "main": [
        [
          {
            "node": "Prepare Tracker Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Tracker Payload": {
      "main": [
        [
          {
            "node": "Needs Review?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Needs Review?": {
      "main": [
        [
          {
            "node": "Yandex Tracker - Needs Review",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Yandex Tracker - Auto Route",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Yandex Tracker - Auto Route": {
      "main": [
        [
          {
            "node": "Google Sheets - Auto Route",
            "type": "main",
            "index": 0
          },
          {
            "node": "Telegram - Confirm (Auto)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
  "Yandex Tracker - Needs Review": {
    "main": [
      [
        {
          "node": "Google Sheets - Needs Review",
          "type": "main",
          "index": 0
        },
        {
          "node": "Telegram - Confirm (Review)",
          "type": "main",
          "index": 0
        },
        {
          "node": "Telegram - Notify Reviewer",
          "type": "main",
          "index": 0
        }
      ]
    ]
  },
    "Yandex Tracker - Error Fallback": {
      "main": [
        [
          {
            "node": "Google Sheets - Error Fallback",
            "type": "main",
            "index": 0
          },
          {
            "node": "Telegram - Confirm (Error)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "tags": [
    {
      "name": "customer-support",
      "id": "tag-1"
    },
    {
      "name": "ai-triage",
      "id": "tag-2"
    },
    {
      "name": "yandex-tracker",
      "id": "tag-3"
    }
  ],
  "pinData": {},
  "versionId": "1.0.0"
}
